In [4]:
import os
import pandas as pd

path=os.getcwd() #현재 작업 디렉토리 경로

In [5]:
ddk = pd.read_csv('data/data_draw_korea.csv',
                  index_col=0, encoding='utf-8', engine='python')
ddk.head()

      인구수 shortName   x  y       면적 광역시도 행정구역
0  202520        강릉  11  4  1040.07  강원도  강릉시
1   25589    고성(강원)   9  0   664.19  강원도  고성군
2   86747        동해  11  5   180.01  강원도  동해시
3   63986        삼척  11  8  1185.80  강원도  삼척시
4   76733        속초   9  1   105.25  강원도  속초시

In [6]:
ddk['시도군구'] = ddk.apply(
    lambda r:r['광역시도']+' '+r['행정구역'], axis=1)
ddk.head()

      인구수 shortName   x  y       면적 광역시도 행정구역     시도군구
0  202520        강릉  11  4  1040.07  강원도  강릉시  강원도 강릉시
1   25589    고성(강원)   9  0   664.19  강원도  고성군  강원도 고성군
2   86747        동해  11  5   180.01  강원도  동해시  강원도 동해시
3   63986        삼척  11  8  1185.80  강원도  삼척시  강원도 삼척시
4   76733        속초   9  1   105.25  강원도  속초시  강원도 속초시

In [7]:
ddk=ddk.set_index('시도군구')
ddk.head()

            인구수 shortName   x  y       면적 광역시도 행정구역
시도군구
강원도 강릉시  202520        강릉  11  4  1040.07  강원도  강릉시
강원도 고성군   25589    고성(강원)   9  0   664.19  강원도  고성군
강원도 동해시   86747        동해  11  5   180.01  강원도  동해시
강원도 삼척시   63986        삼척  11  8  1185.80  강원도  삼척시
강원도 속초시   76733        속초   9  1   105.25  강원도  속초시

In [8]:
ddk_mc_population_all = pd.merge(ddk,local_mc_population, 
                                 how='outer',
                                 left_index=True,
                                 right_index=True)
ddk_mc_population_all.head()

NameError: name 'local_mc_population' is not defined

In [9]:
BORDER_LINES = [
    [(3, 2), (5, 2), (5, 3), (9, 3), (9, 1)], # 인천
    [(2, 5), (3, 5), (3, 4), (8, 4), (8, 7), (7, 7), (7, 9), (4, 9), (4, 7), (1, 7)], # 서울
    [(1, 6), (1, 9), (3, 9), (3, 10), (8, 10), (8, 9),
     (9, 9), (9, 8), (10, 8), (10, 5), (9, 5), (9, 3)], # 경기도
    [(9, 12), (9, 10), (8, 10)], # 강원도
    [(10, 5), (11, 5), (11, 4), (12, 4), (12, 5), (13, 5),
     (13, 4), (14, 4), (14, 2)], # 충청남도
    [(11, 5), (12, 5), (12, 6), (15, 6), (15, 7), (13, 7),
     (13, 8), (11, 8), (11, 9), (10, 9), (10, 8)], # 충청북도
    [(14, 4), (15, 4), (15, 6)], # 대전시
    [(14, 7), (14, 9), (13, 9), (13, 11), (13, 13)], # 경상북도
    [(14, 8), (16, 8), (16, 10), (15, 10),
     (15, 11), (14, 11), (14, 12), (13, 12)], # 대구시
    [(15, 11), (16, 11), (16, 13)], # 울산시
    [(17, 1), (17, 3), (18, 3), (18, 6), (15, 6)], # 전라북도
    [(19, 2), (19, 4), (21, 4), (21, 3), (22, 3), (22, 2), (19, 2)], # 광주시
    [(18, 5), (20, 5), (20, 6)], # 전라남도
    [(16, 9), (18, 9), (18, 8), (19, 8), (19, 9), (20, 9), (20, 10)], # 부산시
]