In [20]:
import numpy as np
import pandas as pd

In [24]:
list = [4,7,8,9,6]
x = pd.Series(list)
x = pd.Series(list,index=['a','b','c','d','e'])

print(x.index)   #RangeIndex(start=0, stop=5, step=1)
print(x.values)  #[4 7 8 9 6]
print(x.dtype)   #int64 , default=64
print(x)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[4 7 8 9 6]
int64
a    4
b    7
c    8
d    9
e    6
dtype: int64

In [34]:
dict= {'둘리':85, '또치':87, '길동':98}

x = pd.Series(dict)

print(x)
x.index=['둘리일', '또치이', '길동삼']
print(srs)

둘리    85
또치    87
길동    98
dtype: int64
둘리일    85
또치이    87
길동삼    98
dtype: int64

In [43]:
print(x['둘리일'])
print(x[['둘리일','또치이']])
#srs['둘리일','또치이'] Errror!!

85
둘리일    85
또치이    87
dtype: int64

In [51]:
x['또치이':'길동삼']

또치이    87
길동삼    98
dtype: int64

In [40]:
s1= pd.Series([10,20,40,30,29])
s2= pd.Series([100,200,400,300,290])
s3= s1+s2
print(s3)

0    110
1    220
2    440
3    330
4    319
dtype: int64

In [83]:
names=['짱구','철수','유리','훈이','맹구']
years=[2013,2014,2013,2015,2016]
points=[1.5,1.7,3.6,2.4,2.9]

data={'names':names,'years':years, 'points':points}
df=pd.DataFrame(data)
df

  names  years  points
0    짱구   2013     1.5
1    철수   2014     1.7
2    유리   2013     3.6
3    훈이   2015     2.4
4    맹구   2016     2.9

In [103]:
data=[names,years,points]
zdata = zip(data[0],data[1],data[2])
zdata

In [120]:
# df1 = pd.DataFrame(data)
# df2 = pd.DataFrame(zdata,columns=['names','years','points'])
# df3 = pd.DataFrame(data).transpose()
df4 = pd.DataFrame(zdata,columns=['names','years','points','penalty'])

df4

ValueError: 4 columns passed, passed data had 3 columns