In [2]:
import sqlite3

In [24]:
def create_table():
    conn = sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""
    create table if not exists books(
        title text,
        publisher text,
        pages integer,
        recommend integer
    )
    """
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [25]:
create_table()

In [39]:
def insert_books(book):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    # sql="insert into books values('java','길벗', 500, 1)"
    sql = "insert into books values(?,?,?,?)"
    cursor.execute(sql, book)
    conn.commit()
    conn.close()

In [40]:
book = ('python', '한빛',600,1)
insert_books(book)

In [41]:
def all_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall()
    print(books)
    print(len(books))
    
    for book in books:
        print(book)    
    conn.close()

In [43]:
all_books()

[('java', '길벗', 500, 1), ('python', '한빛', 600, 1), ('python', '한빛', 600, 1)]
3
('java', '길벗', 500, 1)
('python', '한빛', 600, 1)
('python', '한빛', 600, 1)

In [ ]:
def insert_many_books(books):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql = "insert into books values(?,?,?,?)"
    cursor.executemany(sql, book)
    conn.commit()
    conn.close()