In [3]:
import pymysql

In [8]:
def insert_book():
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='insert into book(title, pub) values(%s,%s)'
    data=('title','pub')
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [9]:
insert_book()

In [24]:
def insert_book_list(datas):
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='insert into book(title, pub, pages, author) values(%s,%s,%s,%s)'
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

In [45]:
datas = [('android','갑',650,'홍길동'),('Oracle DB','을',650,'홍길동'),('Spring','병',650,'홍길동')]
insert_book_list(datas)

In [11]:
def select_all():
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='select * from book'
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()

In [46]:
select_all()

(3, 'Oracle DB', '을', 650, '홍길동')
(4, 'Spring', '병', 650, '홍길동')
(5, 'android', '갑', 650, '홍길동')
(6, 'Oracle DB', '을', 650, '홍길동')
(7, 'Spring', '병', 650, '홍길동')

In [32]:
def update_book(data):
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='update book set title=%s, pub=%s, pages=%s, author=%s where id=%s'
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [34]:
data = ('python','정',700,'둘리',1)
update_book(data)
select_all()

(1, 'python', '정', 700, '둘리')
(2, 'android', '갑', 650, '홍길동')
(3, 'Oracle DB', '을', 650, '홍길동')
(4, 'Spring', '병', 650, '홍길동')

In [40]:
def delete_book(data):
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql='delete from book where id=%s'
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

In [48]:
# delete_book((1,))
delete_book((3,4))
select_all()

(5, 'android', '갑', 650, '홍길동')
(6, 'Oracle DB', '을', 650, '홍길동')
(7, 'Spring', '병', 650, '홍길동')

In [50]:
def try_catch_sql():
    conn=pymysql.connect(
        host='localhost',
        user='root',
        password='1234',
        db='pydb',
        charset='utf8')
    try: #Insert
        with conn.cursor() as curs:
            sql = 'insert into book(title,pub) values(%s,%s)'
            curs.execute(sql,('python','정'))
            conn.commit()
        with conn.cursor() as curs:
            sql='select * from book'
            curs.execute(sql)
            rs=curs.fetchall()
            for row in rs:
                print(row)
    finally:
        conn.close()

In [51]:
try_catch_sql()

(5, 'android', '갑', 650, '홍길동')
(6, 'Oracle DB', '을', 650, '홍길동')
(7, 'Spring', '병', 650, '홍길동')
(8, 'python', '정', None, None)