In [ ]:
import cx_Oracle
def all_product():
    conn=cx_Oracle.connect("kej/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product"
    cursor.excute(sql)
    for row in cursor:
        description=row[3].read()
        data = list(row)
        data[3]=description
        print(data)
    conn.close()

In [ ]:
def insert_product():
    conn=cx_Oracle.connect("kej/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
    data=(2,"석류",2000,"미녀는 석류를 좋아해","image.jpg")
    cursor.excute(sql,data)
    conn.commit()
    conn.close()

In [ ]:
insert_product()

In [2]:
def insert_many(items):
    conn=cx_Oracle.connect("kej/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1,:2,:3,:4,:5)"
    cursor.excutemany(sql,items)
    conn.commit()
    conn.close()
    
items=[(2,'키위', 2000, '달다..!', 'kiwi.jpg'), (3,'딸기',3000,'사빠딸, 사딸라', 'strawberry.jpg')]
insert_many(items)

NameError: name 'cx_Oracle' is not defined

In [ ]:
def name_select():
    conn=cx_Oracle.connect("kej/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product where product_name=:1"
    cursor.excute(sql,('포도',))
    
    for row in cursor:
        description=row[3].read()
        data=list(row)
        data[3]=description
        print(data)
    conn.close()

In [3]:
name_select()

NameError: name 'name_select' is not defined

In [ ]:
def delete_product():
    conn=cx_Oracle.connect("kej/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="delete from product where product_id=:1"
    cursor.excutemany(sql,(1,))
    conn.commit()
    conn.close()

In [ ]:
delete_product()