In [2]:
import sys
import pandas as pd

In [7]:
input_file = 'data/input.csv'
output_file = 'data/output.csv'

data_frame = pd.read_csv(input_file)
print(data_frame)

data_frame.to_csv(output_file, index=False)

   Supplier Name Invoice Number  Part Number      Cost Purchase Date
0              A       001-1001         2341  $500,000    2014-01-20
1              A       001-1001         5467    500000    2014-01-20
2              A       001-1001         5407    750000    2014-01-20
3              A       001-1001         2341    750000    2014-01-20
4              B        50-9501         7009    250000    2018-01-30
5              B        50-9501         7009    250000    2018-01-30
6              B        50-9505         6650    125000    2017-02-03
7              B        50-9505         6650    125000    2017-02-03
8              C       920-4803         3321    615000    2017-02-03
9              C       920-4804         3321    615000    2017-02-10
10             C       920-4805         3321    615000    2017-02-17
11             C       920-4806         3321    615000    2017-02-24

In [16]:
input_file = 'data/input.csv'
output_file = 'data/output_.csv'

df = pd.read_csv(input_file)
df['Cost']=df['Cost'].str.strip('$').str.replace(',','').astype(float)
# print(df)

result = df.loc[(df['Supplier Name']=='A') & (df['Cost']>600000),:]
result

result.to_csv(output_file, index=False)

In [18]:
#cost 5000이상~7000이하 고르기

result = df.loc[(df['Cost']>500000) & (df['Cost']<700000), : ]
result

   Supplier Name Invoice Number  Part Number      Cost Purchase Date
8              C       920-4803         3321  615000.0    2017-02-03
9              C       920-4804         3321  615000.0    2017-02-10
10             C       920-4805         3321  615000.0    2017-02-17
11             C       920-4806         3321  615000.0    2017-02-24

In [19]:
df1 = pd.read_csv('data/2008.csv')

In [22]:
print(df1.shape)
print(df1.columns)

(2389217, 29)
Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [26]:
df2=df1[['Year','Month','ArrDelay','DepDelay']]
df2[:10]
df2.tail()

result = df2.groupby(['Year','Month']).sum()
result = df2.groupby(['Year','Month']).mean()
result

             ArrDelay   DepDelay
Year Month
2008 1      10.188856  11.476096
     2      13.077837  13.706226
     3      11.192365  12.491269
     4       6.807297   8.201133