In [1]:
from pymongo import MongoClient

In [4]:
client = MongoClient('localhost',27017)

In [5]:
db= client['test']

In [6]:
collection = db['employees']

In [12]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('62a2b16e26a32f340136aa30'), 'empno': 7369, 'ename': 'SMITH', 'job': 'CLERK', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 595000), 'sal': 800, 'deptno': 20}
{'_id': ObjectId('62a2b16e26a32f340136aa31'), 'empno': 7499, 'ename': 'ALLEN', 'job': 'SALESMAN', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 604000), 'sal': 1600, 'comm': 300, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa32'), 'empno': 7521, 'ename': 'WARD', 'job': 'SALESMAN', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 605000), 'sal': 1250, 'comm': 500, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa33'), 'empno': 7566, 'ename': 'JONES', 'job': 'MANAGER', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 605000), 'sal': 2975, 'deptno': 20}
{'_id': ObjectId('62a2b16e26a32f340136aa34'), 'empno': 7654, 'ename': 'MARTIN', 'job': 'SALESMAN', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 606000), 'sal': 1250, 'comm': 1400, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa35'), 'empno': 7698, 'ename': 'BLAKE', 'job': 'MANAGER', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 606000), 'sal': 2850, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa36'), 'empno': 7782, 'ename': 'CLARK', 'job': 'MANAGER', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 607000), 'sal': 2450, 'deptno': 10}
{'_id': ObjectId('62a2b16e26a32f340136aa37'), 'empno': 7788, 'ename': 'SCOTT', 'job': 'ANALYST', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 608000), 'sal': 3000, 'deptno': 20}
{'_id': ObjectId('62a2b16e26a32f340136aa38'), 'empno': 7839, 'ename': 'KING', 'job': 'CEO', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 608000), 'sal': 5000, 'deptno': 10}
{'_id': ObjectId('62a2b16e26a32f340136aa39'), 'empno': 7844, 'ename': 'TURNER', 'job': 'SALESMAN', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 609000), 'sal': 1500, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa3a'), 'empno': 7876, 'ename': 'ADAMS', 'job': 'CLERK', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 609000), 'sal': 1100, 'deptno': 20}
{'_id': ObjectId('62a2b16e26a32f340136aa3b'), 'empno': 7900, 'ename': 'JAMES', 'job': 'CLERK', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 610000), 'sal': 950, 'deptno': 30}
{'_id': ObjectId('62a2b16e26a32f340136aa3c'), 'empno': 7902, 'ename': 'FORD', 'job': 'ANALYST', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 611000), 'sal': 3000, 'deptno': 20}
{'_id': ObjectId('62a2b16e26a32f340136aa3d'), 'empno': 7934, 'ename': 'CLERK', 'job': 'CLERK', 'hiredate': datetime.datetime(2022, 6, 10, 2, 50, 22, 612000), 'sal': 1300, 'deptno': 10}

In [20]:
emp={'eno':30, 'ename':'kkk'}

emp_list = [
    {'eno':30, 'ename':'aaa'},
    {'eno':40, 'ename':'bbb'},
    {'eno':50, 'ename':'ccc'}
]

In [15]:
coll=db['emp']

In [16]:
coll.insert_one(emp)

In [24]:
for e in coll.find():
    print(e)

{'_id': ObjectId('629ebb1698b73fae2a4b93d6'), 'eno': 1.0, 'ename': 'hong'}
{'_id': ObjectId('62a2b0b3c4bc3de720f87d9a'), 'eno': 30, 'ename': 'kkk'}
{'_id': ObjectId('62a2b187c4bc3de720f87d9b'), 'eno': 30, 'ename': 'kkk'}
{'_id': ObjectId('62a2b214c4bc3de720f87d9c'), 'eno': 30, 'ename': 'aaa'}
{'_id': ObjectId('62a2b214c4bc3de720f87d9d'), 'eno': 40, 'ename': 'bbb'}
{'_id': ObjectId('62a2b214c4bc3de720f87d9e'), 'eno': 50, 'ename': 'ccc'}

In [23]:
coll.insert_many(emp_list)