In [2]:
import sqlite3

In [24]:
def create_table():
    conn = sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""
    create table if not exists books(
        title text,
        publisher text,
        pages integer,
        recommend integer
    )
    """
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [25]:
create_table()

In [39]:
def insert_books(book):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    # sql="insert into books values('java','길벗', 500, 1)"
    sql = "insert into books values(?,?,?,?)"
    cursor.execute(sql, book)
    conn.commit()
    conn.close()

In [40]:
book = ('python', '한빛',600,1)
insert_books(book)

In [45]:
def insert_many_books(books):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql = "insert into books values(?,?,?,?)"
    cursor.executemany(sql, books)
    conn.commit()
    conn.close()

In [46]:
books= [('oracle','갑',300,1),('mysql','을',200,2), ('sqlite','병',100,3)]
insert_many_books(books)

In [41]:
def all_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall()
    print(books)
    print(len(books))
    
    for book in books:
        print(book)    
    conn.close()

In [48]:
all_books()

[('java', '길벗', 500, 1), ('python', '한빛', 600, 1), ('python', '한빛', 600, 1), ('oracle', '갑', 300, 1), ('mysql', '을', 200, 2), ('sqlite', '병', 100, 3)]
6
('java', '길벗', 500, 1)
('python', '한빛', 600, 1)
('python', '한빛', 600, 1)
('oracle', '갑', 300, 1)
('mysql', '을', 200, 2)
('sqlite', '병', 100, 3)

In [54]:
def some_books(number):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchmany(number)    
    for book in books:
        print(book)    
    conn.close()
some_books(3)

('java', '길벗', 500, 1)
('python', '한빛', 600, 1)
('python', '한빛', 600, 1)

In [57]:
def one_book():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    book=cursor.fetchone()    
    print(book)
    conn.close()
one_book()

('java', '길벗', 500, 1)

In [60]:
def update_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="update books set recommend=? where title=?"
    cursor.execute(sql, (200,'python'))
    conn.commit()
    conn.close()
update_books()
all_books()

[('java', '길벗', 500, 1), ('python', '한빛', 600, 200), ('python', '한빛', 600, 200), ('oracle', '갑', 300, 1), ('mysql', '을', 200, 2), ('sqlite', '병', 100, 3)]
6
('java', '길벗', 500, 1)
('python', '한빛', 600, 200)
('python', '한빛', 600, 200)
('oracle', '갑', 300, 1)
('mysql', '을', 200, 2)
('sqlite', '병', 100, 3)

In [79]:
def delete_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="delete from books where title=?"
    cursor.execute(sql,('oracle',))
    conn.commit()
    conn.close()

In [80]:
delete_books()
all_books()

[('java', '길벗', 500, 1), ('python', '한빛', 600, 200), ('python', '한빛', 600, 200), ('mysql', '을', 200, 2), ('sqlite', '병', 100, 3)]
5
('java', '길벗', 500, 1)
('python', '한빛', 600, 200)
('python', '한빛', 600, 200)
('mysql', '을', 200, 2)
('sqlite', '병', 100, 3)